[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/aria2c --enable-rpc --rpc-secret $(stat -c %W $HOME) --save-session=$HOME/.local/share/aria2c-session --save-session-interval=10 --force-save=true --save-not-found=true
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=aria2c
Name=aria2c
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
